<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title"><%= @service.name %></h2>
  </div>
  <div class="panel-body">
    Current Rate: $<%= @service.rate %> | Current Location: <%= @service.location %> | <%= link_to 'Statistics', service_statistic_path(@service) %>
  </div>
</div>

<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Completed Bookings</h3>
  </div>
  <table class="table table-striped table-bordered">
    <tr>
      <td>
        Customer Name
      </td>
      <td>
        Booking Created
      </td>
      <td>
        Booking Date
      </td>
      <td>
        Booking Completed?
      </td>
      <td>
        Tip
      </td>
    </tr>
    <% @service.bookings.where('time_end < ?', Time.now).each do |booking| %>
      <tr>
        <td>
          <%= booking.customer.user.first_name %> <%= booking.customer.user.last_name %>
        </td>
        <td>
          <%= booking.created_at.to_formatted_s(:long_ordinal) %>
        </td>
        <td>
          <%= booking.time_start.to_formatted_s(:long_ordinal) %>
        </td>
        <td>
          AASM STATE
        </td>
        <td>
          tip here
        </td>
      </tr>
    <% end %>
  </table>
</div>
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Current Bookings</h3>
  </div>
  <table class="table table-striped table-bordered">
    <tr>
      <td>
        Customer Name
      </td>
      <td>
        Booking Created
      </td>
      <td>
        Booking Date
      </td>
      <td>
        Booking Completed?
      </td>
      <td>
        Tip
      </td>
    </tr>
    <% @service.bookings.where('time_end > ?', Time.now).each do |booking| %>
      <tr>
        <td>
          <%= booking.customer.user.first_name %> <%= booking.customer.user.last_name %>
        </td>
        <td>
          <%= booking.created_at.to_formatted_s(:long_ordinal) %>
        </td>
        <td>
          <%= booking.time_start.to_formatted_s(:long_ordinal) %>
        </td>
        <td>
          AASM STATE
        </td>
        <td>
          tip here
        </td>
      </tr>
    <% end %>
  </table>
</div>
