<h1>Bookings#index</h1>
<p>Find me in app/views/bookings/index.html.erb</p>
<div class="container-fluid">
  <% @services.each do |service| %>
  <div class="col-md-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><%= link_to "#{service.name}", new_service_booking_path(service) %></h3>
        <h5 class="panel-titile">Provided by: <%= service.provider.user.first_name %></h5>
      </div>
      <table class="table table-striped table-bordered">
        <tr>
          <td>
            Rate
          </td>
          <td>
            Location
          </td>
          <td>
            Duration
          </td>
          <td>
            Rating
          </td>
        </tr>
        <tr>
          <td>
            <%= number_to_currency(service.rate) %>
          </td>
          <td>
            <%= service.location %>
          </td>
          <td>
            <%= service.duration %>
          </td>
          <td>
            <%= service.reviews.count %>need method for avg ratings
          </td>
        </tr>
      </table>
    </div>
  </div>
  <% end %>
</div>
