<!DOCTYPE html>
<html>
  <head>
    <title>TRIM</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav class="nav navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to 'TRIM', root_path, class:"navbar-brand" %>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Become A TRIMMER", root_path, class:"btn btn-default"%></li> <%# NOTE: Bootstrap: Context-specific usage. should not be used inside nav navbar-nav %>
        <li><%= link_to "Sign Up", root_path, role:"navigation"%></li>
        <li><%= link_to "Login", root_path, role:"navigation"%></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <%= yield %>
  </div>
</html>
